BasicLambdas/target/
BasicLambdas/pom.xml.tag
BasicLambdas/pom.xml.releaseBackup
BasicLambdas/pom.xml.versionsBackup
BasicLambdas/pom.xml.next
BasicLambdas/release.properties
BasicLambdas/dependency-reduced-pom.xml
BasicLambdas/buildNumber.properties
BasicLambdas/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
BasicLambdas/.mvn/wrapper/maven-wrapper.jar
